*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cowLogo img{
    position: absolute;
    left: 49%;
    margin-top: 35px;
}
.Heading::after{
    position: absolute;
    content: "";
    left: calc(48% + 3.2rem);
    top: 50px;
    height: 1px;
  bottom: 0;
    width: 79px;
    background-color: #231f20;
 
 
 
 }
 .Heading::before{
     position: absolute;
     content: "";
     right: calc(48% + 3.2rem);
     top: 50px;
     height: 1px;
   bottom: 0;
     width: 79px;
     background-color: #231f20;
 }

 .card{
     padding: 25px;
    border: 1px solid rgb(255 255 255 / 13%);

}
.card img{
 object-fit: cover;
}
.card-body button{
    width: 177px;
    border: 1px solid white;
    background-color: orange;
    height: 44px;
}
.card-body{
  
    text-align: center;
    padding-top: 2.6em;
}
.card-body h2 a{
    text-decoration: none;
    color: #231f20;
}
.card-body span a{
    text-decoration: none;
    color: #a0a0a0;
}
.card-body h2 a:hover{

        color: orange;
}
.card-body span a:hover{

    color: orange;
}