<div class="container-fluid">
    <div class="row">
        <div class="col-12">
           <div class="Banner">
             <div class="row" *ngFor="let item of getAllData">
                 <div class="col-12 position-relative">
                     <h2 class="row justify-content-center mt-5 Heading">{{item.Heading}}</h2>
             
                     
                    <div class="cowLogo">
                        <img src="/assets/images/62470.png" alt="" width="30px">
                    </div>
                    
            
              
                     <span class="row justify-content-center mt-4 Paragraphs">{{item.Paraghap}}</span>
                        <span class="row justify-content-center mt-1 Paragraphs">{{item.Paraghap2}}</span>
                 </div>
             </div>
         
           </div>
           <div class="Banner2">
            <div class="row">
                <div class="col-12">
                    <div class="Image d-flex justify-content-center">
                        <img src="/assets/images/big-cow.png" alt="">
                    </div>
       
                </div>
            </div>
         </div>
        </div>
    </div>
</div>