<div class="container-fluid">
    <div class="row">
        <div class="Crousal background">
          <div class="container background1">
              <div class="row">
                  <div class="corusal ">
               
<owl-carousel-o [options]="customOptions" >
    <ng-template class="Owl" carouselSlide [id]="items.id" *ngFor="let items of getAllFooterData">
      <div class="slide">
        <div class="Images">
            <img [src]="[items.iamges]" alt="image not found" >
        </div>
         
      </div>
   
    
    </ng-template>


  
  </owl-carousel-o>
                  </div>
        
              </div>
          </div>
       
        </div>
    </div>
</div>
<div class="container-fluid background5">
    <div class="container">
        <div class="row">
            <div class="container">
             <div class="row">
      
                   
                        <div class="col-md-4">
                            <div class="Heading">
                                <h2>Where to Buy</h2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="Paraghraph">
                              <p>Our Products are currently available at select retailers in Connecticut and New York..</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="Button">
                          <a href=""> <button>STORE lOCATOR</button></a>
                            </div>
                        </div>
                        

                
             
             </div>

      
        
        </div>
    </div>

  
</div>