<div class="container-fluid">
  <div class="row">

      <div class="main">

        <div class="NavBar shadow">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="Logo d-flex justify-content-center align-items-center">
                    <a class="navbar-brand " href="#">
                      <img src="assets/WebsiteLogo.png" alt="" width="88px" height="40px" class="d-inline-block align-text-top">
         
                    </a>
                      <h6 class="Title m-0">Jacksons Milk</h6>
                  </div>
                 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <div class="LI">
                    
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="#">FARM</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="#">BLOG</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="#">PRODUCT</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="#">RECIPS</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="#">CONTACTS</a>
                        </li>
                    </div>
                 <div class="Login">
                 
                
                   
                      <div class="Button">
                        <button type="button" class="btn  btn-sm">Login</button>
                      </div>
                      <div class="Button">
                        <button type="button" class="btn  btn-sm">Register</button>
                      </div>
                 </div>
                  </ul>
                 
                </div>
          
     
       
           
              </nav>
             
        </div>
       
    </div>

  </div>
</div>

